<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    {{!-- hero section starts --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-6 col-12 hero-text order-md-0 order-1">
        <h1>We Will Help You To</h1>
        <h1>Grow Your Business</h1>
        <p>We Are team of <span>Professional Developers✌️</span></p>
        <button class="btn-style btn-primary">Read More</button>
    </div>
    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
        <figure>
            <img src="images/growth.svg" alt="hero-img">
        </figure>
    </div>
</div>
            </div>
        </div>
    </div>
    {{!-- hero section ends --}}


    <script src="/jq/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
