<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    {{!-- hero section starts --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
        <h1>We Will Help You To</h1>
        <h1>Grow Your Business</h1>
        <p>We Are team of <span>Professional Developers✌️</span></p>
        <button class="btn-style btn-primary">Read More</button>
    </div>
    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
        <figure>
            <img src="images/growth.svg" alt="hero-img">
        </figure>
    </div>
</div>
            </div>
        </div>
    </div>
    {{!-- hero section ends --}}


        {{!-- about section starts --}}
    <div class="container-fluid mt-5 about-style" id="about-id">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                 <p class="text-center sub-heading">Grow your Business With us</p>
<div class="row">
    <div class="col-md-6 col-12 hero-text ">
        <figure>
            <img src="images/about.svg" alt="hero-img">
        </figure>
    </div>
    {{!-- right side --}}
    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
        <h1>We ARE PROFESSIONAL DEVELOPERS✌️</h1>
        <p>Welcome To <span>Backend Web</span> Your Number One Source For All Things. We're Dedicated To Giving You The Very Best Of Work, With A Focus On [Three Chharacteristics. i.e; Dependability, Customer Service And Uniqueness.]</p>
        <button class="btn-style btn-primary">Read More</button>
    </div>
    
</div>
            </div>
        </div>
    </div>
    {{!-- about section ends --}}


    <script src="/jq/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
