<div class="container-fluid mt-5 about-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Contact Us</h1>
                 <p class="text-center sub-heading">We Will be Happy To Help You</p>
                 </div>
                 .
                 </div>
</div>